<ul class="dynamic-field">
    <li ng-repeat="query in queries" ui-sref="editor.show({id: query.id})" class="query">
      <span ng-if="history[query.id][0]">
        <span ng-if="history[query.id][0].passed == history[query.id][0].total" class="indicator indicator-success"></span>
        <span ng-if="history[query.id][0].passed < history[query.id][0].total" class="indicator indicator-danger"></span>
      </span>
      <span ng-if="!history[query.id][0]">
        <span class="indicator indicator-pending"></span>
      </span>
      <span>{{query.name}}</span>
      <!--<br /><small>{{query.id}}</small>-->
    </li>
</ul>